In [2]:
print ("1 - demonstrating for loop ")

for i in range(0,5):
    print i

1 - demonstrating for loop
0
1
2
3
4

In [4]:
for left_num in range(5):
    for right_num in range(5):
        product = left_num * right_num
        print left_num, " x ", right_num, " = ", product

0  x  0  =  0
0  x  1  =  0
0  x  2  =  0
0  x  3  =  0
0  x  4  =  0
1  x  0  =  0
1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
2  x  0  =  0
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
3  x  0  =  0
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
4  x  0  =  0
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16

In [10]:
my_list = [1, 2, 3, "a", "b", "c"]
print "my_list is:", my_list

my_list is: [1, 2, 3, 'a', 'b', 'c']

In [12]:
print "enumerating over a list: "

for i, item in enumerate(my_list):
    print "item number ", i, " is ", item

enumerating over a list:
item number  0  is  1
item number  1  is  2
item number  2  is  3
item number  3  is  a
item number  4  is  b
item number  5  is  c

In [16]:
print " another way to enumerate over a list" 

for item in my_list:
    index = my_list.index(item)
    print index, " list item ", item

 another way to enumerate over a list
0  list item  1
1  list item  2
2  list item  3
3  list item  a
4  list item  b
5  list item  c

In [19]:
test_list = [34,4,99,14,7,2]
number = 99
get_index = test_list.index(number)

print " number ", number, "is in position ", get_index

 number  99 is in position  2

In [21]:
numbers_0_to_9 = [x for x in range(10)]
print numbers_0_to_9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
squares = [x * x for x in numbers_0_to_9]
print squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
odd_nums = [ x for x in numbers_0_to_9 if x % 2 == 0 ]
print odd_nums

[0, 2, 4, 6, 8]

# advanced list Comprehensions

In [27]:
from collections import namedtuple

In [28]:
Person = namedtuple("Person", ["name", "age", "gender"])


people = [
    Person("Andy", 30, "m"),
    Person("Peter", 30, "m"),
    Person("Amy", 22, "f"),
    Person("Emmy", 24, "f")
]


peter = people[1]


print "name: ", peter.name
print "age:  ", peter.age
print "gender:  ", peter.gender

('name: ', 'Peter')
age:   30
gender:   m

In [29]:
male_names  = [person.name for person in people if person.gender == 'm']

In [30]:
male_names

['Andy', 'Peter']

In [33]:
young = [person.name for person in people if person.age < 30]
print young

['Amy', 'Emmy']

# random library

In [34]:
import random as rd

In [38]:
a = rd.random()
b = rd.random()
c = rd.random()


print "a is: ", a
print "b is: ", b
print "c is: ", c

a is:  0.568040547512
b is:  0.953185555524
c is:  0.583728261605